NEXT_PUBLIC_SHOPIFY_DOMAIN=active-source-lab.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_TYPEFORM_ID=
NEXT_PUBLIC_SEGMENT_WRITE_KEY=
NEXT_PUBLIC_KLAVIYO_API_KEY=
NEXT_PUBLIC_KLAVIYO_LIST_ID=
NEXT_PUBLIC_ASTRO_API_KEY=
NEXT_PUBLIC_ASTRO_USER_ID=
NEXT_PUBLIC_BITLY_ACCESS_TOKEN=
NEXT_PUBLIC_GOOGLE_PLACES_API_KEY=
NEXT_PUBLIC_MAX_CHARS=
